html{
    font-size: 62.5%;
}

@media (max-width: 38em) {
    .container{
        display: grid;
        grid-template-columns: 1fr;

        width: 48rem;
        height: 55rem;
    }

    .elements-box{
        height: 35rem;
    }
    .jobs {
        width: 48rem;
    }
}

@media (max-width: 31em) {
    .container{
        display: grid;
        grid-template-columns: 1fr;

        width: 41rem;
        height: 55rem;
    }

    .elements-box{
        height: 35rem;
    }
    .jobs {
        width: 41rem;
    }

    #input{
        width: 28rem;
    }
    
    #add-btn{
        width: 6rem;
    }
}